body {
    margin: 0;
    text-align: center;
}
.profile {
    border-radius: 50%;
    width: 175px;
    margin-bottom: 50px;
}
#welcome {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: white;
    opacity: 0.83;
    width: 100%;
    background: linear-gradient(blue 0%, red 100%);
    display: table;
    z-index: 9;
    overflow: hidden;
    height: 800px;
}
h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}
#bio {

}

#name {
font-family: 'Gelasio', serif;
font-size: 50px;
}
.division {
    position: relative;
    vertical-align: center;
    display: table-cell;
}
.menu {
    list-style: none;
    position: absolute;
    top: 10px;
    cursor:pointer ;
    z-index: 10;
}
.link {
    float: left;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    font-family: cursive;
    color: fuchsia;
}
.link:hover {
    background-color:aqua
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: fuchsia;
}
#writings a {
    text-shadow: none !important;
    text-decoration: underline !important;
    color: blue !important;
}
input {
    background-color: grey;
}